{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/intro.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>회사 소개</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                        <h3 class="section-heading" style="text-align: center">Majornity</h3>
                        <h6 style="text-align: center">자유로운 소통을 위해</h6>
                    <div class="col-md-5 col-lg-5 col-xl-5 d-flex justify-content-end">
                        <p style="text-align: center">Majornity는 수많은 분야의 <br>사람들과 소통할 수 있는 공간을<br> 제공합니다.<br><br><br>
                            우리는 같은<br> 분야의 사람들 끼리 모여 소통할<br> 수 있는 Majornity서비스를<br> 제공하고 있습니다.</p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-md-5 col-lg-5 col-xl-5 d-flex">
                        <p style="text-align: center">서비스가 높은 성장을 할 수 있도록<br> 고민하고 답을 찾을것 입니다.<br><br><br>
                            그래서 우리는 많은 서비스를 <br>만들고 발전시키기 위해 <br>항상 노력하고 같이 미래를 <br>만들어 나가실 분들을 <br>기다리고 있습니다.</p>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}
