{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/intro.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>오시는 길</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
       <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <h2 style="text-align: center; padding: 70px">오시는 길</h2>
                    <div class="col-md-10 col-lg-8 col-xl-7 d-flex">
                        <img src="{% static 'assets/img/map.png' %}" width="400" height="400">
                        <div class="me-5"></div>
                        <div class="d-table">

                            <div class="mb-5 d-flex">
                            <img src="{% static 'assets/img/point.png' %}" width="30" height="30" class="d-flex"/>서울 중구 한강대로 416, 15층 101호
                                </div>
                            <div class="mb-5 d-flex">
                            <img src="{% static 'assets/img/telephone.png' %}" width="30" height="30" class="d-flex"/>1111 - 1111
                                </div>
                            <div class="mb-5 d-flex">
                            <img src="{% static 'assets/img/mail.png' %}" width="30" height="30" class="d-flex"/>abcdef@email.com
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}