{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
.box_gen{
    background-color: black;
    border-radius: 15px;
    padding: 20px 20px;
        width: 100%;
        margin: 0 auto;
    }
</style>
    <body>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/intro.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>서비스 소개</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                        <h3 class="section-heading" style="text-align: center">Majornity</h3>
                    <div class="col-md-5 col-lg-5 col-xl-5 d-flex justify-content-end">
                        <p style="text-align: center">Majornity는 Major + Community를 합친 단어로 다양한 전공과 분야를 가진 사람들끼리 정보를 공유하고 소통할 수 있는 서비스입니다.<br><br><br>
                        같은 분야의 사람들과 소통하는것은 물론 평소에 관심있어 하는<br> 분야의 사람들과 다양한 소통을 <br>할 수 있습니다.</p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-md-5 col-lg-5 col-xl-5">
                        <p style="text-align: center">Majornity 바로가기<br><br><br>
                        <div class="box_gen text-white d-flex align-center">
                        <a class="col-md-4 col-lg-4 col-xl-3 text-white" style="text-align: center" href="#!">웹</a>
                        <div class="col-lg-1" style="text-align: center">|</div>
                        <a class="col-md-4 col-lg-4 col-xl-4 text-white" style="text-align: center" href="#!">Android</a>
                        <div class="col-lg-1" style="text-align: center">|</div>
                        <a class="col-md-4 col-lg-4 col-xl-3 text-white" style="text-align: center" href="#!">IOS</a>
                    </div>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    {% endblock %}
