{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>고객 의견</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <h2 style="text-align: center; padding: 70px">고객 의견</h2>
                    <div class="col-md-10 col-lg-8 col-xl-7 py-xl-5 px-md-5" style="border: 2px solid lightgray">

                        <div class="post-preview">
                            <h3 class="post-title">{{ comment.title }}</h3>
                            <hr class="my-4" />
                            <h6>{{ comment.content }}</h6>
                            <div class="d-flex">
                            <div class="me-md-auto"></div>
                            <h6>{{ comment.pub_date.year }}-{{ comment.pub_date.month }}-{{ comment.pub_date.day }} {{ comment.pub_date.timetz}}</h6>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% if comment.comm_content != 'NotExistComments' %}
                        <div class="post-meta">
                            {{ comment.comm_content }}
                            <div class="d-flex">
                            <div class="me-md-auto"></div>
                            <h6>{{ comment.comm_pub_date.year }}-{{ comment.comm_pub_date.month }}-{{ comment.comm_pub_date.day }} {{ comment.comm_pub_date.timetz}}</h6>
                        </div>
                    {% else %}
                    <h6>답변이 없습니다.</h6>
                        {% endif %}

                    </div>
                </div>
                    <div class="my-4"></div>
                    <div class="col-lg-10 d-flex">
                        <div class="me-md-auto"></div>
                        <button type="button" class="btn btn-primary" onClick="location.href='/inquiry/comments'">목록</button>
                    </div>
            </div>
        </main>
{% endblock %}