{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>고객 의견</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <h2 style="text-align: center; padding: 70px">고객 의견</h2>
                    <div class="col-md-10 col-lg-8 col-xl-7 py-xl-5 px-md-5 " style="border: 2px solid lightgray">
                        {% if com_list %}
                        {% for comm in com_list %}
                        <div class="post-preview d-flex">
                            <h5 class="post-title"><a href="{% url 'inquiry:comments_view' comm.id %}">{{ comm.title }}</a></h5>
                            <div class="me-md-auto"></div>
                            <h6>{{ comm.pub_date.year }}-{{ comm.pub_date.month }}-{{ comm.pub_date.day }}</h6>
                        </div>
                            {% if forloop.last %}
                            {% else %} <hr class="my-4" />
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>고객 의견이 없습니다.</p>
                    {% endif %}
                    </div>
                </div>
            <div class="my-4">
                    <div class="col-lg-10 d-flex">
                        <div class="me-md-auto"></div>
                        <button type="button" class="btn btn-primary" onClick="location.href='/inquiry/writing'">글쓰기</button>
                    </div>
            </div>
            </div>
        </main>
{% endblock %}