{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>고객 센터</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <h2 style="text-align: center; padding: 70px">고객 센터</h2>
                    <div class="col-md-10 col-lg-8 col-xl-7 d-flex">
                        <img src="{% static 'assets/img/telephone.png' %}" width="30" height="30">
                        <div class="me-4"></div>
                        <div>1111 - 1111</div>
                        <div class="me-auto"></div>
                        <div>운영시간: 오전 10:00 ~ 오후 6:00<br>점심시간: 오후 1:00 ~ 오후 2:00</div>
                    </div>
                    <div class="my-5"></div>
                    <div style="text-align: center">혼잡한 시간대에는 전화 연결이 어려울 수 있습니다. 문의 게시판이나 메일을 이용해 주세요</div>
                    <div class="my-3"></div>
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary m-sm-auto" onClick="location.href='/inquiry/comments'">문의 게시판</button>
                        <button type="submit" class="btn btn-primary m-sm-auto">메일</button>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}