{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/about-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>새소식</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if news_list %}
                        {% for content in news_list %}
                        <div class="post-preview">
                            <a href="inquiry/inquiry.html">
                                <h2 class="post-title"><a href="/mysite/{{ content.id }}/">{{ content.title }}</a></h2>
                                <h4><a style="font-weight: normal" href="/mysite/{{ content.id }}/">{{ content.content | truncatewords:8 }}</a></h4>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!"><a href="/mysite/{{ content.id }}/">{{ content.writer }}</a></a>
                                <a href="/mysite/{{ content.id }}/">{{ content.pub_date }}</a>
                            </p>
                        </div>
                            <hr class="my-4" />
                        {% endfor %}
                    {% else %}
                        <p>Not exist Content</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}