{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/recru.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>채용</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <h2 style="text-align: center; padding: 70px">채용 공고</h2>
                    <div class="col-md-10 col-lg-8 col-xl-8 py-xl-5 px-md-5 " style="border: 2px solid lightgray">
                            <h2 class="post-title">{{ recru.title }}</h2>
                            <hr class="my-4"/>
                            <h5>{{ recru.content }}</h5>
                            <hr class="my-4"/>
                            <p class="border-0 text-end">{{ recru.pub_date }}</p>
                        <hr class="my-4"/>
                                <form method="post" class="mb-4" action="{% url 'recru_comment_create' recru.id %}">
                                    {% csrf_token %}
                                    <textarea id="content" name="content" class="form-control" rows="3" placeholder="내용을 입력해주세요."></textarea>
                                    <div class="mb-3"></div>
                                    <button type="submit" class="btn btn-primary">submit</button>
                                </form>
                                {% for comment in recru.comment_set.all %}
                                <div class="d-flex">
                                    <div class="ms-3">
                                        <h6>
                                            {{ comment.author.username }} &nbsp&nbsp {{ comment.create_date }}
                                            {% if comment.create_date != comment.modify_date %}
                                                / 수정일자: {{ comment.modify_date }}
                                            {% endif %}
                                            {% if request.user == comment.author %}
                                                <a href="{% url 'recru_comment_update' comment.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                                                <a href="{% url 'recru_comment_delete' comment.id %}" class="btn btn-sm btn-outline-secondary">삭제</a>
                                            {% endif %}
                                        </h6>
                                        <h6>{{ comment.content }}</h6>
                                    </div>
                                </div>
                                    <br/>
                                {% endfor %}
                    </div>
                </div>
            </div>
        </main>
{% endblock %}